<h2>New form</h2>

<%= simple_form_for [@challenge, @message] do |f| %>
  <%= f.input :content, placeholder: 'Ask a question', required: true %>
  <%= f.button :submit, 'Submit', class: 'btn btn-danger' %>
<% end %>

<%= link_to 'Back to challenge', challenge_path(@challenge) %>
